@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTC55F_W.eot');
    src: local('PT Sans Caption'),
         url('fonts/PTC55F_W.woff') format('woff'),
         url('fonts/PTC55F_W.ttf') format('truetype'),
         url('fonts/PTC55F_W.svg#PTSans-Caption') format('svg');
}
@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTF55F_W.eot');
    src: local('PT Serif'),
         url('fonts/PTF55F_W.woff') format('woff'),
         url('fonts/PTF55F_W.ttf') format('truetype'),
         url('fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');
}


html, body {
    background: #fefefe;
    color: #222;
}
body {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20px 40px;
}

a {
    white-space: nowrap;
}
a:link {
    color: #4100f1;
    text-decoration: none;
}
a:visited {
    color: #63008c;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    margin: 0 0 12px;
}
h2 {
    font-size: 18px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    margin: 18px 0 4px;
}
p {
    margin: 0 0 12px;
}



.content {
    min-width: 260px;
    max-width: 520px;
}

.photo {
    margin: 8px 0 20px 20px;
    float: right;
    border-radius: 10px;
}
@media all and (max-width: 420px) {
    .photo {
        float: none;
        display: block;
        margin: 0 auto 20px;
    }
}

a.fn.url {
    color: #222;
    text-decoration: none;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    color: #ccc;
}
    .footer a:link {
        text-decoration: underline;
        color: #ccc;
    }
    .footer a:visited {
        text-decoration: underline;
        color: #ccc;
    }
    .footer a:hover, .footer a:active {
        text-decoration: none;
    }

.hidden {
    display: none;
}