html, body {
    background: #fefefe;
    color: #222;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 35px;
}

@media all and (max-width: 479px) {
    body {
        font-size: 15px;
        margin: 10px 13px;
    }
}

a:link {
    color: #4100f1;
    text-decoration: none;
}
a:visited {
    color: #63008c;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

h1 {
    font-size: 1.55em;
    margin: 0 0 .42em;
}
h2 {
    font-size: 1.22em;
    margin: .81em 0 .18em;
}
p {
    margin: 0 0 .66em;
}


@media all and (min-width: 480px) {
    .content {
        max-width: 700px;
    }
}

@media all and (max-width: 479px) {
    .photo-wrapper {
        margin-top: -10px;
        margin-left: -13px;
        margin-right: -13px;
        margin-bottom: .66em;
    }
    .photo {
        width: 100%;
    }
}

@media all and (min-width: 480px) {
    .photo {
        border-radius: 10px;
        width: 35%;
        min-width: 150px;
        float: right;
        margin-left: 20px;
        margin-bottom: .66em;
        margin-top: 48px;
    }
}

a.title {
    color: #222;
    text-decoration: none;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    color: #999;
}

.hidden {
    display: none;
}