body {
    padding: 15px 30px;
    line-height: 1.4;
}

.field {
    font-family: 'PT Serif', Georgia, serif;
    font-size: inherit;
}

.units {
    border-spacing: 0;
    margin-bottom: 24px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-left: -11px;
    border-radius: 10px;
}
    .units_common {
        margin-bottom: 12px;
    }
    .units th {
        text-align: left;
        padding: 1px 10px 2px;
        font-weight: normal;
        font-size: 18px;
        font-family: 'PT Serif Caption', Georgia, serif;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .units thead tr:first-child th:first-child, .units_common tr:first-child td:first-child {
        border-top-left-radius: 10px;
    }
    .units thead tr:first-child th:last-child, .units_common tr:first-child td:last-child {
        border-top-right-radius: 10px;
    }

    .units td {
        padding: 2px 10px 3px;
        font-size: 17px;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
        .units td > input {
            text-align: right;
        }

    .units tfoot td:first-child, .units_common tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    .units tfoot td:last-child, .units_common tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .units tbody tr:hover td {
        background: #f9f9f9;
    }


    .units-quantity {
        font-size: 14px;
    }

.changelog {
    border-spacing: 0;
    margin-bottom: 12px;
    font-size: 14px;
}
    .changelog td {
        padding: 2px 24px 3px 0;
        vertical-align: top;
    }

.todo {
    font-size: 14px;
}

.cost-elixir {
    background: url(/clash-of-clans/i/elixir.png) no-repeat 100% 50%;
    padding-right: 28px;
}
.cost-dark-elixir {
    background: url(/clash-of-clans/i/dark-elixir.png) no-repeat 100% 50%;
    padding-right: 28px;
}
.cost-gold {
    background: url(/clash-of-clans/i/gold.png) no-repeat 100% 50%;
    padding-right: 28px;
}

.cost-elixir-small {
    background: url(/clash-of-clans/i/elixir-small.png) no-repeat 100% 50%;
    padding-right: 19px;
}
.cost-dark-elixir-small {
    background: url(/clash-of-clans/i/dark-elixir-small.png) no-repeat 100% 50%;
    padding-right: 19px;
}
.cost-gold-small {
    background: url(/clash-of-clans/i/gold-small.png) no-repeat 100% 50%;
    padding-right: 19px;
}

.like-button {
    color: #222;
    cursor: pointer;
    display: inline-block;
    border: 1px outset #777;
    border-radius: 8px;
    padding: 0 8px;
}
    .like-button_after {
        margin-left: 6px;
    }
    .like-button_lonely {
        margin-left: -8px;
        margin-right: 16px;
    }

.number {
    text-align: right;
}

.limit-exceeded {
    color: #d00;
}

.intro {
    font-size: 16px;
}

.result {
    font-size: 18px;
    font-family: 'PT Serif Caption', Georgia, serif;
}


.saved-list {
    font-size: 14px;
}
    .saved-list__item {
        display: inline-block;
        margin: 0 30px 17px -13px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px 13px;
        vertical-align: top;
        color: #444;
        line-height: 1.35;
    }
    .saved-list__item-title {
        font-size: 14px;
        font-family: 'PT Serif Caption', Georgia, serif;
        color: #222;
        margin-bottom: 3px;
    }
        .saved-list__item-title_next {
            margin-top: 8px;
        }
        .saved-list__item-title span {
            float: right;
        }
    .saved-list__item-result {
        margin-top: 3px;
    }
    .saved-list__actions {
        margin-top: 8px;
    }
    .saved-list__table {
        border-spacing: 0;
    }
        .saved-list__table td {
            padding-right: 8px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .saved-list__table td.saved-list__level {
            padding-top: 6px;
            line-height: 8px;
        }
