html, body {
    background: #fefefe;
    color: #222;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 13px 17px;
    line-height: 1.4;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

a {
    white-space: nowrap;
}
    a:link {
        color: #4100f1;
        text-decoration: none;
    }
    a:visited {
        color: #63008c;
        text-decoration: none;
    }
    a:hover, a:active {
        text-decoration: underline;
    }


kbd {
    font-family: inherit;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 4px;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
}
    select {
        font-size: 14px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {
            font-size: inherit;
        }
    }
    .field-long {
        width: 100%;
    }

h1 {
    font-size: 22px;
    margin: 0 0 3px;
}
h2 {
    font-size: 16px;
    margin: 13px 0 8px;
}
h2 + table {
    margin-top: 1px;
}
h3 {
    font-size: 14px;
    margin: 17px 0 2px;
}

p {
    margin: 0 0 10px;
}

table {
    border-spacing: 0;
}
    table td, table th {
        vertical-align: top;
        padding: 0;
    }
    td img {
        vertical-align: middle;
    }
    .number {
        text-align: right;
    }

.floated {
    margin: 0 -17px;
}
    .floated__item {
        display: inline-block;
        margin: 0 28px 0 17px;
    }

.data {
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}
    .data th, .data td {
        padding-left: 7px;
        padding-right: 7px;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .data th {
        text-align: left;
        padding-bottom: 1px;
        line-height: 20px;
        font-size: 14px;
    }
    .data td {
        padding-top: 2px;
        padding-bottom: 2px;
        vertical-align: middle;
    }
        .data td > input {
            text-align: right;
        }
        .data tfoot tr:last-child td {
            border-bottom: 0;
        }
        .data th:last-child, .data td:last-child {
            border-right: 0;
        }
        .data th:first-child, .data td:first-child {
            padding-left: 0;
        }

    .data-secondary {
        font-size: 13px;
    }

.list-content {
    margin-bottom: 10px;
}
    .list-content_small {
        font-size: 14px;
    }
    .list-content ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
        .list-content li {
            padding-left: 12px;
            position: relative;
        }
        .list-content li:before {
            content: '•';
            position: absolute;
            left: 0;
        }
    .list-content p {
        margin: 0 0 1px;
    }
    .list-content__date {
        color: #777;
    }


.cost-elixir {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/elixir.png);
    background-repeat: no-repeat;
    background-size: 14px 16px;
    padding-right: 19px;
}
.cost-dark-elixir {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/dark-elixir.png);
    background-repeat: no-repeat;
    background-size: 14px 16px;
    padding-right: 19px;
}
.cost-gold {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/gold.png);
    background-repeat: no-repeat;
    background-size: 15px 16px;
    padding-right: 19px;
}

.button, .button:link, .button:visited {
    color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fcfcfc;
    background-image: linear-gradient(#fcfcfc, #ececec);
    line-height: 1;
    user-select: none;
    font-weight: normal;
    text-decoration: none;
}
    .button {
        margin: 0;
    }
    .button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    .button:hover {
        background-image: linear-gradient(#fcfcfc, #e0e0e0);
    }
    .button:active {
        color: #444;
        background: #e3e3e3;
    }
    .button_after {
        margin-left: 7px;
    }
    .button_middle {
        vertical-align: middle;
    }

    .button_social, .button_social:link, .button_social:visited {
        border-color: #99b;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: #fcfcff;
        background-image: linear-gradient(#fcfcff, #ececff);
        font-size: 14px;
    }
    .button_social:hover {
        background-image: linear-gradient(#fcfcff, #e0e0ff);
    }
    .button_social:active {
        background: #e3e3ff;
    }

    .button_spinner {
        margin-left: 7px;
    }

    .ios .button_spinner {
        padding: 5px 9px 6px;
        margin-left: 12px;
    }

.icon-twitter {
    background-image: url(/clash-of-clans/i/icon-twitter.png);
    background-size: 16px 13px;
    background-position: 0 50%;
    padding-left: 19px;
    background-repeat: no-repeat;
}

.icon-facebook {
    background-image: url(/clash-of-clans/i/icon-facebook.png);
    background-size: 16px 16px;
    background-position: 0 50%;
    padding-left: 21px;
    background-repeat: no-repeat;
}

.icon-save {
    background-image: url(/clash-of-clans/i/icon-save.png);
    background-size: 14px 14px;
    background-position: 0 50%;
    padding-left: 19px;
    background-repeat: no-repeat;
}

.limit-exceeded {
    color: #d00;
}

.fixed-content {
    max-width: 800px;
}

.result {
    font-weight: bold;
}

.tooltip {
    cursor: help;
}

.block-indented {
    margin-top: 30px;
}

.text-middle {
    vertical-align: middle;
}

.message-block-wrapper {
    margin: 15px 0 0;
}

.message {
    font-size: 14px;
    background: #cfc;
    border: 1px solid #8f8;
    border-radius: 5px;
    padding: 3px 7px;
    line-height: 1;
    vertical-align: middle;
    font-weight: normal;
}
    .message_closeable {
        cursor: pointer;
    }
    .message_after {
        margin-left: 15px;
    }
    .message_negative {
        background: #fdd;
        border: 1px solid #f88;
    }

.saved-list {
    font-size: 15px;
}
    .saved-list__item {
        display: inline-block;
        margin: 0 13px 13px 0;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 6px 7px 10px;
        vertical-align: top;
        color: #222;
        line-height: 1.35;
    }
    .saved-list__item-cost {
        font-weight: bold;
        margin-top: 2px;
        margin-bottom: 10px;
        color: #777;
        font-size: 13px;
    }
        .saved-list__item-cost > span {
            display: inline-block;
            line-height: 16px;
        }
    .saved-list__actions {
        margin-top: 10px;
    }
    .saved-list__table {
    }
        .saved-list__table td {
            padding-right: 10px;
        }
    .saved-list__item-capacity {
        font-size: 13px;
        color: #999;
        font-weight: bold;
        margin-bottom: 2px;
    }
    .saved-list__item-time {
        margin-top: 2px;
        font-weight: bold;
        color: #444;
        font-size: 13px;
    }

.footer {
    border-top: 1px solid #ddd;
    padding-top: 12px;
    margin-top: 30px;
    font-size: 14px;
    color: #999;
}
    .footer a:link, .footer a:visited {
        text-decoration: underline;
        color: #999;
    }
    .footer a:hover, .footer a:active {
        text-decoration: none;
    }

.menu-wrapper {
    position: relative;
    margin: 20px -17px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fafafa;
    box-shadow: 0 0 5px #bbb;
    font-size: 15px;
    z-index: 500;
}
    .menu_fixed {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 3px 8px #ccc;
    }
    .menu li {
        display: inline-block;
    }
        .menu li:first-child {
            margin-left: 17px;
        }
    .menu__item {
        display: inline-block;
        padding: 4px 10px;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        border-right: 1px solid #d9d9d9;
        color: #000;
        cursor: pointer;
        background: none;
        margin: 0;
        user-select: none;
    }
    .menu__item::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
        .menu li:first-child .menu__item {
            margin-left: -10px;
        }
        .menu li:last-child .menu__item {
            border-right: 0;
        }
        .menu .menu__item:hover {
            background: #efefef;
        }


.object {}
    .object__text {
        vertical-align: middle;
        margin-left: 3px;
    }
    .object_units .object__text, .object_dark .object__text {
        display: none;
    }
    .object__icon {
        background-repeat: no-repeat;
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
    .object_units .object__icon {
        background-image: url(/clash-of-clans/i/objects-units.png);
        background-size: 32px 365px;
    }
        .object__icon_Archer {background-position: 0 0;}
        .object__icon_Balloon {background-position: 0 -37px;}
        .object__icon_Barbarian {background-position: 0 -74px;}
        .object__icon_Dragon {background-position: 0 -111px;}
        .object__icon_Giant {background-position: 0 -148px;}
        .object__icon_Goblin {background-position: 0 -185px;}
        .object__icon_Healer {background-position: 0 -222px;}
        .object__icon_P-E-K-K-A- {background-position: 0 -259px;}
        .object__icon_Wall_Breaker {background-position: 0 -296px;}
        .object__icon_Wizard {background-position: 0 -333px;}

    .object_dark .object__icon {
        background-image: url('/clash-of-clans/i/objects-dark.png');
        background-size: 32px 180px;
    }
        .object__icon_Golem {background-position: 0 0;}
        .object__icon_Hog_Rider {background-position: 0 -37px;}
        .object__icon_Minion {background-position: 0 -74px;}
        .object__icon_Valkyrie {background-position: 0 -111px;}
        .object__icon_Witch {background-position: 0 -148px;}

    .object_spells .object__icon {
        background-image: url('/clash-of-clans/i/objects-spells.png');
        background-size: 32px 180px;
    }
        .object__icon_Freeze {background-position: 0 0;}
        .object__icon_Healing {background-position: 0 -37px;}
        .object__icon_Jump {background-position: 0 -74px;}
        .object__icon_Lightning {background-position: 0 -111px;}
        .object__icon_Rage {background-position: 0 -148px;}

.add-to-home-screen {
    margin: 15px 0 0;
    display: none;
}
    .ios .add-to-home-screen {
        display: block;
    }
    .add-to-home-screen__button {
        color: #222;
        cursor: pointer;
        display: inline-block;
        padding: 0;
        border: 0;
        background: none;
        line-height: inherit;
        font-weight: bold;
        text-decoration: none;
        margin: 0;
    }
        .add-to-home-screen__button:before {
            content: '▶';
            color: #999;
            margin-right: 5px;
            display: inline-block;
        }
            .add-to-home-screen[data-on="true"] .add-to-home-screen__button:before {
                content: '▼';
            }
        .add-to-home-screen__button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    .add-to-home-screen__list {
        margin: 10px 0;
        display: none;
    }
        .add-to-home-screen[data-on="true"] .add-to-home-screen__list {
            display: block;
        }