body {
    margin: 15px 25px;
    line-height: 1.4;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

kbd {
    font-family: inherit;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 4px;
}

input, select {
    font-family: inherit;
    font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

table {
    border-spacing: 0;
}
    table td, table th {
        vertical-align: top;
        padding: 0;
    }

.wikia-link:link, .wikia-link:visited {
    color: inherit;
    background: url(/clash-of-clans/i/external-link.png) no-repeat 100% 4px;
    background-size: 10px 10px;
    padding-right: 15px;
}

.data {
    margin-bottom: 20px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-left: -10px;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}
    .data th {
        text-align: left;
        padding: 1px 8px 2px;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .data thead tr:first-child th:first-child, .data_common tr:first-child td:first-child {
        border-top-left-radius: 10px;
    }
    .data thead tr:first-child th:last-child, .data_common tr:first-child td:last-child {
        border-top-right-radius: 10px;
    }

    .data td {
        padding: 2px 8px 3px;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        vertical-align: middle;
    }
        .data td > input {
            text-align: right;
        }

    .data tfoot td:first-child, .data_common tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }
    .data tfoot td:last-child, .data_common tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .data-secondary {
        font-size: 13px;
    }

.list-content {
    margin-bottom: 20px;
}
    .list-content_small {
        font-size: 14px;
    }
    .list-content ul {
        padding: 0;
        margin: 0 0 15px;
        list-style: none;
    }
    .list-content_small ul {
        margin-bottom: 10px;
    }
        .list-content li {
            padding-left: 12px;
            position: relative;
        }
        .list-content li:before {
            content: '•';
            position: absolute;
            left: 0;
        }
    .list-content p {
        margin: 0 0 1px;
    }
    .list-content h3 {
        font-size: 14px;
        margin: 0 0 2px;
    }
        .list-content__date {
            color: #777;
        }


.cost-elixir {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/elixir.png);
    background-repeat: no-repeat;
    background-size: 14px 16px;
    padding-right: 19px;
}
.cost-dark-elixir {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/dark-elixir.png);
    background-repeat: no-repeat;
    background-size: 14px 16px;
    padding-right: 19px;
}
.cost-gold {
    background-position: 100% 50%;
    background-image: url(/clash-of-clans/i/gold.png);
    background-repeat: no-repeat;
    background-size: 15px 16px;
    padding-right: 19px;
}

.button {
    color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fcfcfc;
    background-image: linear-gradient(#fcfcfc, #ececec);
    line-height: 1em;
    user-select: none;
}
    .button:hover {
        background-image: linear-gradient(#fcfcfc, #e0e0e0);
    }
    .button:active {
        background: #e3e3e3;
    }
    .button_after {
        margin-left: 6px;
    }
    .button_lonely {
        margin-left: -8px;
        margin-right: 15px;
    }

.number {
    text-align: right;
}

.limit-exceeded {
    color: #d00;
}

.fixed-content {
    max-width: 800px;
}

.result {
    font-weight: bold;
}

.right-column {
    padding-left: 20px;
}


.saved-list {
    font-size: 14px;
}
    .saved-list__item {
        display: inline-block;
        margin: 0 30px 17px -13px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px 13px;
        vertical-align: top;
        color: #444;
        line-height: 1.35;
    }
    .saved-list__item-title {
        font-weight: bold;
        color: #222;
        margin-bottom: 3px;
    }
        .saved-list__item-title_next {
            margin-top: 8px;
        }
        .saved-list__item-title span {
            float: right;
        }
    .saved-list__item-result {
        margin-top: 3px;
    }
    .saved-list__actions {
        margin-top: 8px;
    }
    .saved-list__table {
    }
        .saved-list__table td {
            padding-right: 8px;
        }
        .saved-list__table .saved-list__level {
            padding-top: 6px;
            line-height: 8px;
            vertical-align: middle;
        }

.changelog-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, .75);
    z-index: 99;
    -webkit-font-smoothing: subpixel-antialiased;
}
    .changelog-popup {
        margin: 40px auto 0;
        width: 60%;
        max-width: 800px;
        height: 80%;
        background: #fefefe;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 30px #000;
        overflow: auto;
    }
    .changelog-content {
        padding: 0 20px 20px;
    }
    .changelog-close {
        position: absolute;
        top: 50px;
        left: 71%;
        z-index: 199;
        padding: 10px;
        background-color: #fefefe;
    }
        .changelog-close__iphone {
            display: none;
        }

@media all and (max-device-width: 480px) {
    body.changelog > * {
        display: none;
    }
    .changelog-overlay {
        position: static;
        width: auto;
        height: auto;
        background: none;
    }
    body.changelog > .changelog-overlay {
        display: block;
    }
    .changelog-popup {
        overflow: visible;
        margin: 0;
        width: auto;
        max-width: none;
        height: auto;
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .changelog-content {
        padding: 0;
    }
    .changelog-close {
        position: fixed;
        top: 10px;
        right: 20px;
    }
        .changelog-close__iphone {
            display: inline;
        }
        .changelog-close__all {
            display: none;
        }
}
@media all and (max-device-width: 1024px) {
    .changelog-popup {
        -webkit-overflow-scrolling: touch;
    }
}
