html, body {
    background: #fefefe;
    color: #222;
}
body {
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 13px 17px;
    line-height: 1.4;
    font-size: 15px;
    -webkit-text-size-adjust: 100%;
}

a {
    white-space: nowrap;
}
    a:link {
        color: #4100f1;
        text-decoration: none;
    }
    a:visited {
        color: #63008c;
        text-decoration: none;
    }
    .not-mobile a:hover, a:active, .not-mobile a:focus {
        text-decoration: underline;
    }


kbd {
    font-family: inherit;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 4px;
}
    kbd a:link, kbd a:visited, .not-mobile kbd a:hover, kbd a:active, .not-mobile kbd a:focus {
        color: #222;
        text-decoration: none;
    }

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}
    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    input[type="checkbox"] {
        margin: 0;
    }

label {
    user-select: none;
}

h1 {
    font-size: 17px;
    margin: 0 0 3px;
}

h2 {
    font-size: 16px;
    margin: 20px 0 8px;
}

h3 {
    font-size: 14px;
    margin: 15px 0 2px;
}

p {
    margin: 0 0 10px;
    max-width: 50em;
}

table {
    border-spacing: 0;
}
    table td, table th {
        vertical-align: top;
        padding: 0;
    }
    .number {
        text-align: right;
    }


.small {
    font-size: 14px;
}
.tiny {
    font-size: 13px;
}

.limit-exceeded {
    color: #d00;
}

.result {
    font-weight: bold;
}

.text-middle {
    vertical-align: middle;
}

.boosted {
    text-shadow: #48F928 1px 1px 3px;
}

@keyframes blink {
    0% {
        background: transparent;
    }
    45% {
        background: #ffd;
    }
    100% {
        background: transparent;
    }
}

.changed-animation {
    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 200ms;
}
