.cost {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 19px;
    background-size: 14px 16px;
}
    .cost_elixir {
        background-image: url(/clash-of-clans/i/elixir.png);
    }
    .cost_dark-elixir {
        background-image: url(/clash-of-clans/i/dark-elixir.png);
    }
