.data {
    margin-top: 20px;
    font-size: 16px;
}
    .mobile .data {
        -webkit-user-select: none;
    }
    .mobile .data tr {
        -webkit-transform: translateZ(0);
    }
    .data th, .data td {
        padding-left: 7px;
        padding-right: 7px;
        white-space: nowrap;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .data th {
        text-align: left;
        font-size: 14px;
        padding-bottom: 2px;
    }
    .data td {
        padding-top: 2px;
        padding-bottom: 2px;
        vertical-align: middle;
    }
        .data td > input {
            text-align: right;
        }
        .data tfoot tr:last-child td {
            border-bottom: 0;
        }
        .data th:last-child, .data td:last-child {
            border-right: 0;
        }
        .data th:first-child, .data td:first-child {
            padding-left: 0;
        }

    .data__distribution-column {
        min-width: 65px;
    }
    .data__quantity-column {
        min-width: 115px;
    }
    .data__total_column {
        min-width: 65px;
    }

    .data__secondary-header {
        float: right;
        padding-top: 1px;
    }

    .data th.data__top-cell {
        vertical-align: bottom;
        border-bottom: 0;
        padding-bottom: 5px;
    }
    .data th.data__top-cell_title {
        border-right: 0;
    }

    .data__title {
        font-size: 16px;
        margin-bottom: 1px;
    }

.inactive thead tr:last-child, .inactive tbody, .inactive tfoot {
    display: none
}