.icon-twitter {
    background: url(/clash-of-clans/i/icons/twitter.png) 0 50% / 16px 13px no-repeat;
    padding-left: 16px;
}

.icon-facebook {
    background: url(/clash-of-clans/i/icons/facebook.png) 0 50% / 16px 16px no-repeat;
    padding-left: 16px;
}

.icon-gplus {
    background: url(/clash-of-clans/i/icons/gplus.png) 0 50% / 16px 16px no-repeat;
    padding-left: 16px;
}

.icon-favorite {
    background: url(/clash-of-clans/i/icons/favorite.svg) -1px 0 / 1.15em 1.15em no-repeat;
    padding-left: 19px;
}

.icon-elixir {
    background: url(/clash-of-clans/i/icons/elixir.png) 100% 50% / 14px 16px no-repeat;
    padding-right: 19px;
}

.icon-dark-elixir {
    background: url(/clash-of-clans/i/icons/dark-elixir.png) 100% 50% / 14px 16px no-repeat;
    padding-right: 19px;
}
