.menu-wrapper {
    position: relative;
    margin: 20px -17px 0;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fafafa;
    box-shadow: 0 0 5px #bbb;
    font-size: 15px;
    z-index: 500;
}
    .menu_fixed {
        position: fixed;
        top: 0;
        box-shadow: 0 3px 8px #ccc;
        width: 100%;
    }
    .menu li {
        display: inline-block;
    }
        .menu li:first-child {
            margin-left: 17px;
        }
    .menu__item {
        display: inline-block;
        padding: 4px 10px;
        border: 0;
        border-right: 1px solid #d9d9d9;
        color: #111;
        background: none;
        margin: 0;
        user-select: none;
        line-height: 20px;
        cursor: pointer;
    }
        .menu__item > input[type="checkbox"] {
            cursor: pointer;
        }
        .menu li:first-child .menu__item {
            margin-left: -10px;
        }
        .menu li:last-child .menu__item {
            border-right: 0;
        }
        .not-mobile .menu .menu__item:hover, .menu .menu__item:active {
            background: #efefef;
        }
