.message {
    font-size: 14px;
    background: #cfc;
    border: 1px solid #8f8;
    border-radius: 5px;
    padding: 3px 7px;
    font-weight: normal;
}
    .not-mobile .message_closeable {
        cursor: pointer;
    }
    .message_after {
        margin-left: 10px;
    }
    .message_negative {
        background: #ffe3e3;
        border: 1px solid #f99;
    }
    .message_important {
        font-size: 15px;
    }
    .message_block {
        line-height: 1.5;
    }