@keyframes blink {
    0% {
        background: #fff;
    }
    45% {
        background: #ffd;
    }
    100% {
        background: #fff;
    }
}

.saved-list {
    font-size: 15px;
}
    .saved-list__item {
        display: inline-block;
        margin: 0 13px 13px 0;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 6px 7px 10px;
        vertical-align: top;
        color: #222;
        line-height: 1.35;

        opacity: 1;
    }
    .saved-list__item_added {
        animation-name: blink;
        animation-duration: 2s;
    }
    .saved-list__item_deleted {
        opacity: 0;

        transition: opacity 750ms;
    }
    .saved-list__item-cost {
        font-weight: bold;
        margin-top: 2px;
        margin-bottom: 10px;
        color: #777;
        font-size: 13px;
    }
        .saved-list__item-cost > span {
            display: inline-block;
            line-height: 16px;
        }
    .saved-list__actions {
        margin-top: 10px;
    }
    .saved-list__table {
    }
        .saved-list__table td {
            padding-right: 10px;
        }
    .saved-list__item-capacity {
        font-size: 13px;
        color: #999;
        font-weight: bold;
        margin-bottom: 2px;
    }
    .saved-list__item-time {
        margin-top: 2px;
        font-weight: bold;
        color: #444;
        font-size: 13px;
    }
