.setting-mode {
    position: relative;
    padding-left: 17px;
    cursor: pointer;
}
    .setting-mode__toggle {
        position: absolute;
        left: -1px;
        top: 2px;
        cursor: pointer;
    }

.setting-mode-disabled .setting-mode-part,
.setting-mode-enabled .setting-mode-not-part,
.setting-mode-disabled .setting-mode-empty {
    display: none;
}