.setting-mode-disabled .setting-mode-part,
.setting-mode-enabled .setting-mode-not-part,
.setting-mode-disabled .setting-mode-empty {
    display: none;
}

.settings {
    background: #f0fff0;
    padding: 6px 10px 10px;
    border: 1px solid #aba;
    border-radius: 10px;
}