.share-left {
    width: 1%;
    white-space: nowrap;
    padding-right: 12px;
    vertical-align: middle;
}
    /*
    .share-left__label {
        padding-left: 12px;
    }
    */

.share-right {
    width: 100%;
    vertical-align: middle;
}

/*
.share-left-second {
    text-align: right;
    padding-right: 12px;
    padding-top: 5px;
}

.share-right-second {
    padding-top: 5px;
}
*/