.share {
    max-width: 50em;
    margin-bottom: 30px;
}

.share-left {
    width: 1%;
    white-space: nowrap;
    padding-right: 12px;
}

.share-right {
    width: 100%;
}

.share-permalink {
    width: 100%;
    box-sizing: border-box;
}