<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=880"/>
    <title>Comments — {{coc_title_web_clip}}</title>
    <link rel="stylesheet" type="text/css" href="css/all.css"/>
    <link rel="icon" href="/clash-of-clans/i/favicon-v2.png"/>
</head>
<body>

<h1>Comments — <a href="/clash-of-clans">{{coc_title_web_clip}}</a></h1>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://mkln.ru/clash-of-clans/" data-width="470" data-num-posts="150"></div>

<script src="../js/ya-metrika.js"></script>
{{& ya_metrika_noscript}}

<script src="../js/ga.js"></script>

</body>
</html>
