<div class="favorite js-favorite" data-num="{{index}}">
    {{#types}}
        {{#totalCapacity}}
            <div class="favorite__capacity">{{totalCapacity}}&thinsp;/&thinsp;{{maximumCapacity}}</div>
        {{/totalCapacity}}

        <table class="favorite__objects">
            {{#items}}
                <tr>
                    <td class="number">×{{quantity}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/items}}
        </table>
        <div class="favorite__time">{{time}}</div>
        <div class="favorite__cost">
            <span class="cost cost_{{costModifier}}">{{cost}}</span>
        </div>
    {{/types}}

    <div class="favorite__actions">
        <button class="button js-favorite-load" data-num="{{index}}" title="Current composition will be lost">
            Load
        </button>
        <button class="button js-favorite-delete" data-num="{{index}}">Delete</button>
    </div>
</div>