<div class="favorite js-favorite" data-num="{{index}}">
    <input class="favorite__title js-favorite-title"
           placeholder="Untitled"
           value="{{title}}"
           data-num="{{index}}"
           size="10"/>
    {{#types}}
        {{#totalCapacity}}
            <div class="favorite__capacity">{{totalCapacity}}&thinsp;/&thinsp;{{maximumCapacity}}</div>
        {{/totalCapacity}}

        <table class="favorite__objects">
            {{#items}}
                <tr>
                    <td class="number">×{{quantity}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/items}}
        </table>
        <div class="favorite__time">{{& time}}</div>
        <div class="favorite__cost">
            <span class="icon-{{costModifier}}">{{cost}}</span>
        </div>
    {{/types}}

    <button class="button js-favorite-load" data-num="{{index}}">Load</button>
    <button class="button button_after js-favorite-delete" data-num="{{index}}">Remove</button>
</div>