<!DOCTYPE HTML>
<html lang="en" data-version="{{firstChangelog.version}}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=900, minimal-ui"/>

    <title>{{coc_seo_title}}</title>
    <meta name="description" content="{{coc_description}}"/>

    <script src="js/-head-blockers.js"></script>

    <script src="js/-all.js" data-main="yes"></script>

    <script src="js/preload-images.js"></script>

    <link rel="stylesheet" type="text/css" href="css/all.css"/>

    <link rel="icon" href="/clash-of-clans/i/favicon-v2.png"/>

    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/clash-of-clans/i/app-icons/76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/clash-of-clans/i/app-icons/120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/clash-of-clans/i/app-icons/152x152.png"/>

    <meta name="apple-mobile-web-app-title" content="{{coc_title_web_clip}}"/>

    <meta name="twitter:site" content="@ClashCalc"/>
    <meta name="twitter:creator" content="@Splurov"/>

    <meta property="og:url" content="http://mkln.ru/clash-of-clans/"/>
    <meta property="og:title" content="{{coc_title}}"/>
    <meta property="og:description" content="{{coc_description}}"/>
</head>
<body>
<script src="../js/ya-metrika.js"></script>

<h1>
    {{coc_title}}

    <a href="https://twitter.com/ClashCalc"
       target="_blank"
       class="button button_after button_social"
       title="Follow @ClashCalc on Twitter"><span class="icon-twitter"></span></a>

    <a href="https://www.facebook.com/ClashCalc"
       target="_blank"
       class="button button_social"
       title="Like Clash Calc on Facebook"><span class="icon-facebook"></span>
    </a>
</h1>

<p>{{coc_description}}</p>

<!--[if lte IE 9]>
<p class="message message_negative message_centered">
    You are using an old version of Internet Explorer which is not supported.<br/>
    Upgrade to a modern browser, such as <a href="http://getfirefox.com/" target="_blank">Firefox</a>.
</p>
<![endif]-->

<div id="menu-wrapper" class="menu">
    <div class="button-group button-group_menu" id="menu">
        <button class="button js-anchor" data-for="light-anchor">Barracks</button><!--
        --><button class="button js-anchor" data-for="dark-anchor">Dark Barracks</button><!--
        --><button class="button js-anchor" data-for="spells-anchor">Spell Factory</button><!--
        --><button class="button js-anchor js-share" data-for="share-anchor">Share</button><!--
        --><button class="button js-anchor" data-for="favorites-anchor">Favorites</button><!--
        --><button class="button js-favorite-add"><span class="icon-favorite">Add to Favorites</span></button>
    </div>
</div>

<div class="settings">
    Set the Army Camps capacity, level of barracks, troops,
    Spell Factory and spells based on the Town Hall of level:<br/>
    <span class="button-group button-group_settings">
        <button class="button js-settings-level">1</button><!--
        --><button class="button js-settings-level">2</button><!--
        --><button class="button js-settings-level">3</button><!--
        --><button class="button js-settings-level">4</button><!--
        --><button class="button js-settings-level">5</button><!--
        --><button class="button js-settings-level">6</button><!--
        --><button class="button js-settings-level">7</button><!--
        --><button class="button js-settings-level">8</button><!--
        --><button class="button js-settings-level">9</button><!--
        --><button class="button js-settings-level">10</button>
    </span>
</div>

<p id="view-shared"
   class="message message_closeable message_root message_centered"
   title="Click to hide"
   style="display: none;">
    You are viewing shared army composition (you can find previous one in the favorites)
</p>

<p id="storage-quota-exceeded" class="message message_negative message_root" style="display: none;">
</p>

{{#types}}
    <table class="data js-{{type}}-object">
        <thead>
            <tr>
                <th colspan="{{^spells}}5{{/spells}}{{#spells}}4{{/spells}}"
                    class="data__top-cell data__top-cell_title"
                    id="{{type}}-anchor">
                    {{title}}
                    {{^spells}}
                        <span class="message message_negative message_after"
                              style="display: none"
                              id="{{type}}-exceeded">
                            Exceeded training capacity of the {{title}}
                        </span>
                    {{/spells}}
                </th>
                {{#barracks}}
                    <th class="data__top-cell">
                        <select id="{{type}}-level-{{index}}" class="js-comp-level text-middle" data-num="{{index}}">
                            {{#options}}
                                <option value="{{text}}"{{#selected}} selected="selected"{{/selected}}>{{text}}</option>
                            {{/options}}
                        </select>
                        <span class="text-middle">lvl</span>
                    </th>
                {{/barracks}}
                {{#spells}}
                    <th class="data__top-cell">
                        <select id="spells-level" class="js-comp-level">
                            {{#spellFactory}}
                                <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{value}}</option>
                            {{/spellFactory}}
                        </select>
                        <span class="text-middle">lvl</span>
                    </th>
                {{/spells}}
            </tr>
            <tr>
                <th>{{objectTitle}}</th>
                <th>Level</th>
                <th class="data__quantity-column">
                    <span class="tiny data__secondary-header">
                        <span id="{{type}}-quantity" class="text-middle"></span>
                        <span class="help-link js-help-link">
                            <span class="help-link__content js-help-content">
                                Available Space in the {{capacityBuilding}}
                            </span>
                        </span>
                    </span>
                    Quantity
                    <br/>
                    <button class="button button_reset js-reset" data-reset="{{type}}" data-scope="quantity">
                        Reset
                    </button>
                </th>
                <th class="data__total_column">
                    <span class="icon-{{currencyCode}}">Total</span>
                </th>
                {{^spells}}
                    <th>
                        Subtract
                        <span class="help-link js-help-link">
                            <span class="help-link__content js-help-content">
                                Allows to “subtract” troops, which you already have.
                                For example, you want to get
                                {{#light}}100 Barbarians and 100 Archers.{{/light}}
                                {{#dark}}20 Minions.{{/dark}}
                                And you already have
                                {{#light}}20 Barbarians.{{/light}}
                                {{#dark}}5 Minions.{{/dark}}
                                In the column “Quantity”, as usual, make
                                {{#light}}100 Barbarians and 100 Archers.{{/light}}
                                {{#dark}}20 Minions.{{/dark}}
                                And in the column “Subtract”
                                {{#light}}20 Barbarians.{{/light}}
                                {{#dark}}5 Minions.{{/dark}}
                                Now the distribution between the barracks are considered to be only for
                                {{#light}}80 Barbarians and 100 Archers.{{/light}}
                                {{#dark}}15 Minions.{{/dark}}
                                This is very useful, when after the battle you have remained part of the army.<br/>
                                (Values from the “Subtract” columns not preserved between browser sessions nor saved
                                when you add to favorites.)
                            </span>
                        </span>
                        <br/>
                        <button class="button button_reset js-reset" data-reset="{{type}}" data-scope="subtract">
                            Reset
                        </button>
                    </th>

                    {{#barracks}}
                        <th class="data__building-info">
                            <span id="{{type}}-barrack-info-{{index}}">
                                <label>
                                    <input type="checkbox"
                                           id="{{type}}-boosted-{{index}}"
                                           class="text-middle js-comp-boosted"/>
                                    <span class="text-middle">Boosted</span><br/>
                                </label>
                                <span class="tiny">
                                    <span class="text-middle">
                                        <span id="{{type}}-space-{{index}}"></span>
                                        <span id="{{type}}-maxSpace-{{index}}"></span>
                                    </span>
                                    <span class="help-link js-help-link">
                                        <span class="help-link__content js-help-content">
                                            Training Capacity of the {{titleSingular}}
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </th>
                    {{/barracks}}
                {{/spells}}

                {{#spells}}
                    <th class="data__building-info">
                        <label id="spells-boosted-wrapper">
                            <input type="checkbox" id="spells-boosted" class="text-middle js-comp-boosted"/>
                            <span class="text-middle">Boosted</span><br/>
                        </label>
                    </th>
                {{/spells}}
            </tr>
        </thead>
        <tbody class="object-{{type}}">
            {{#objects}}
                {{> item_row}}
            {{/objects}}
        </tbody>
        <tfoot>
            <tr>
                {{#light}}
                    <td colspan="2" class="tiny number">
                        <label for="army-camps">Army Camps:</label>
                    </td>
                    <td class="result">
                        <span id="{{type}}-space" class="text-middle"></span><!--
                        --><select id="army-camps" class="js-comp-level small">
                            {{#armyCamps}}
                                <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{value}}</option>
                            {{/armyCamps}}
                        </select>
                        <span class="help-link js-help-link">
                            <span class="help-link__content js-help-content">
                                Total Troop Capacity of the Army Camps
                            </span>
                        </span>
                    </td>
                {{/light}}

                {{^light}}
                    <td></td>
                    <td></td>
                    <td class="result">
                        <span id="{{type}}-space" class="text-middle"></span>
                        <span class="help-link js-help-link">
                            <span class="help-link__content js-help-content">
                                {{#spells}}
                                    Spell Capacity
                                {{/spells}}
                                {{#dark}}
                                    Total Troop Capacity of the Army Camps
                                {{/dark}}
                            </span>
                        </span>
                    </td>
                {{/light}}

                <td id="{{type}}-cost" class="number result"></td>

                {{^spells}}
                    <td id="{{type}}-subtracted-cost" class="tiny"></td>
                    {{#barracks}}
                        <td id="{{type}}-time-{{index}}" class="number"></td>
                    {{/barracks}}
                {{/spells}}

                {{#spells}}
                    <td class="result number" id="spells-time"></td>
                {{/spells}}
            </tr>
            {{#spells}}
                <tr>
                    <td></td>
                    <td colspan="2" class="tiny number">
                        Grand Total with Barracks:
                    </td>
                    <td class="tiny result number" id="grand-total"></td>
                    <td></td>
                </tr>
            {{/spells}}
        </tfoot>
    </table>
{{/types}}

<div class="js-share">
    <h2 id="share-anchor">Share Army Composition</h2>
    <table class="share">
        <tr>
            <td class="share-left">
                <a href=""
                   target="_blank"
                   class="button button_social js-share-link"
                   data-share-link="https://twitter.com/share?url={url}&amp;via=ClashCalc&amp;hashtags=ClashOfClans"
                   title="Share on Twitter">
                    <span class="icon-twitter"></span>
                </a>
                <a href=""
                   target="_blank"
                   class="button button_social js-share-link"
                   data-share-link="https://www.facebook.com/sharer/sharer.php?u={url}"
                   title="Share on Facebook">
                    <span class="icon-facebook"></span>
                </a>
                <a href=""
                   target="_blank"
                   class="button button_social js-share-link"
                   data-share-link="https://plus.google.com/share?url={url}"
                   title="Share on Google+">
                    <span class="icon-gplus"></span>
                </a>
            </td>
            <td class="share-right">
                <input id="share-permalink" class="share-permalink"/>
            </td>
        </tr>
    </table>
</div>

<h2 id="favorites-anchor">
    Favorites
    <button class="js-favorite-add button button_after"><span class="icon-favorite">Add</span></button>
</h2>
<div id="favorites">
</div>

<div class="list-content">
    {{#firstChangelog}}
        <h2>
            What’s New in Version {{version}}
            <a href="version-history.html" class="button button_after" target="_blank">Version History</a>
        </h2>
        {{#ch_title}}
            <p>{{ch_title}}</p>
        {{/ch_title}}
        <ul>
            {{#changes}}
                <li>{{& change}}.</li>
            {{/changes}}
        </ul>
    {{/firstChangelog}}
    {{#secondChangelog}}
        <h3>{{version}}</h3>
        {{#ch_title}}
            <p>{{ch_title}}</p>
        {{/ch_title}}
        <ul>
            {{#changes}}
                <li>{{& change}}.</li>
            {{/changes}}
        </ul>
    {{/secondChangelog}}
</div>

<div class="add-to-home-screen">
    <h2>How to add Clash Calc icon to your Home screen</h2>
    <ol>
        <li value="0">
            Open Safari, type
            <kbd><a href="http://mkln.ru/clash-of-clans/" onclick="return false;">http://mkln.ru/clash-of-clans/</a></kbd>
            (or simply copy and paste this link) in the address bar, tap Go and wait until the page is loaded.
        </li>
        <li>
            Tap the Share button
            (&thinsp;<span class="add-to-home-screen__share-icon"></span>&thinsp;).
        </li>
        <li>Tap the icon labeled “Add to Home Screen”.</li>
        <li>Tap the Add button in the upper right corner.</li>
        <li>Launch Clash Calc from your Home screen by tapping its icon.</li>
    </ol>
</div>

<h2>Additionally</h2>
<p>
    Please note this tool is only available at http://mkln.ru/clash-of-clans/.
    If you’ve seen it on other sites or in the iTunes App Store or anywhere else —
    is the result of the actions of fraudsters and thieves that have nothing to do with me
    and use my work without my permission, violating copyright.
</p>

<p>
    If you find a bug please send an e-mail to <a href="mailto:clashcalc@mkln.ru">clashcalc@mkln.ru</a>.
</p>

<footer>
    <p>
        Clash of Clans and its logos are trademarks of Supercell.
        This web site is not affiliated with, endorsed, sponsored, or specifically approved by Supercell.
        Supercell is not responsible for the operation or content of this site.
        {{!Use the trademarks and other intellectual property of Supercell is only as expressly permitted as set forth in Supercell’s
        <a href="http://forum.supercell.net/showthread.php/148005-Clash-of-Clans-Fan-Kit-and-Guidelines">Fan Site Kit Agreement</a>.}}
        For more information about Supercell, please visit their website at
        <a href="http://www.supercell.net/">www.supercell.net</a>.
    </p>

    <p>
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons BY-NC-ND 4.0 International License</a>.
    </p>
    <p>
        Developed by <a href="/en/">Mikhail Kalashnik</a><br/>
        © 2014
    </p>
</footer>

{{& ya_metrika_noscript}}

</body>
</html>
