    <tr id="{{rowId}}">
        <td>
            <a href="{{titleLink}}" class="wikia-link" target="_blank">{{title}}</a>
        </td>
        <td>
            <select id="{{levelId}}" class="field" tabindex="{{tabIndexLevel}}">
                {{#levelContent}}
                    <option value="{{value}}">{{text}}</option>
                {{/levelContent}}
            </select>
            <span class="hidden" id="{{costId}}"></span>
        </td>
        <td>
            {{#spells}}
                <select id="{{id}}" class="field" tabindex="{{tabIndexValue}}">
                    {{#options}}
                        <option value="{{value}}">{{text}}</option>
                    {{/options}}
                </select>
            {{/spells}}
            {{^spells}}
                <input type="number" min="0" max="220" class="js-number field" id="{{id}}" size="3" tabindex="{{tabIndexValue}}"/>
            {{/spells}}
        </td>
        <td id="{{summaryId}}" class="number">
        </td>
        {{#subtractId}}
            <td>
               <input type="number" min="0" max="220" class="js-number field" id="{{subtractId}}" size="3" tabindex="{{tabIndexSubtract}}"/>
            </td>
        {{/subtractId}}
        {{#barracksTimes}}
            <td id="{{barrackQuantityId}}" class="number"></td>
        {{/barracksTimes}}
    </tr>