    <tr id="{{rowId}}">
        <td>
            <span class="object object_{{objectType}}">
                <span class="object__icon object__icon_{{idDashed}}" title="{{title}}"></span>
                <span class="object__text">{{title}}</span>
            </span>
        </td>
        <td>
            <select id="{{levelId}}" tabindex="{{tabIndexLevel}}">
                {{#levelContent}}
                    <option value="{{value}}">{{text}}</option>
                {{/levelContent}}
            </select>
        </td>
        <td>
            {{#spells}}
                <select id="{{id}}" tabindex="{{tabIndexValue}}" data-field-type="quantity">
                    {{#options}}
                        <option value="{{value}}">{{text}}</option>
                    {{/options}}
                </select>
            {{/spells}}
            {{^spells}}
                <input type="text" pattern="[0-9]*" data-object-type="{{objectType}}" min="0" max="999" class="js-number" id="{{id}}" size="3" tabindex="{{tabIndexValue}}" data-field-type="quantity"/>
            {{/spells}}
        </td>
        <td id="{{summaryId}}" class="number">
        </td>
        {{#subtractId}}
            <td>
               <input type="text" pattern="[0-9]*" data-object-type="{{objectType}}" min="0" max="999" class="js-number" id="{{subtractId}}" size="3" tabindex="{{tabIndexSubtract}}" data-field-type="subtract"/>
            </td>
        {{/subtractId}}
        {{#barracksTimes}}
            <td id="{{barrackQuantityId}}" class="number"></td>
        {{/barracksTimes}}
        {{#spells}}
            <td></td>
        {{/spells}}
    </tr>