<div class="saved-list__item" id="saved-list-item-{{index}}">
    {{#hasCapacity}}
        <div class="saved-list__item-capacity">
            {{totalCapacity}} / {{armyCamps}}
        </div>
    {{/hasCapacity}}

    {{#units}}
        <table class="saved-list__table">
            {{#items}}
                <tr>
                    <td class="number">×{{quantity}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/items}}
        </table>
        <div class="saved-list__item-time">{{time}}</div>
        <div class="saved-list__item-cost">
            <span class="cost cost_elixir">{{cost}}</span>
        </div>
    {{/units}}

    {{#dark}}
        <table class="saved-list__table">
            {{#items}}
                <tr>
                    <td class="number">×{{quantity}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/items}}
        </table>
        <div class="saved-list__item-time">{{time}}</div>
        <div class="saved-list__item-cost">
            <span class="cost cost_dark-elixir">{{cost}}</span>
        </div>
    {{/dark}}

    {{#hasSpells}}
        <div class="saved-list__item-capacity">
            {{spellsCapacity}} / {{spellsFactoryLevel}}
        </div>
        <table class="saved-list__table">
            {{#spells}}
                <tr>
                    <td class="number">×{{quantity}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/spells}}
        </table>
        <div class="saved-list__item-time">{{spellsTime}}</div>
        <div class="saved-list__item-cost">
            <span class="cost cost_gold">{{spellsCost}}</span>
        </div>
    {{/hasSpells}}

    <div class="saved-list__actions">
        <button class="button js-saved-load"
              data-num="{{index}}"
              tabindex="{{tabIndexLoad}}"
              title="Current composition will be lost">
            Load
        </button>
        <button class="button button_after js-saved-delete"
              data-num="{{index}}"
              tabindex="{{tabIndexDelete}}">
            Delete
        </button>
    </div>
</div>