<!DOCTYPE HTML>
<html lang="{{lang}}" class="js-root">
<head>
    <meta charset="UTF-8"/>
    <meta class="js-viewport" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/design.css"/>
    <link rel="profile" href="http://microformats.org/profile/hcard"/>
    <link rel="icon" href="/i/favicon-2014-04.png"/>
    <meta property="fb:admins" content="506720931"/>
</head>
<body>

<div class="content vcard">
    <div class="photo-wrapper">
        <img class="photo js-photo" src="/i/photo-2014-04.jpg" alt="{{photo_alt}}"/>
    </div>

    <p>
        <a href="{{lang_switcher_href}}">{{lang_switcher_title}}</a>
    </p>

    <h1><a href="http://mkln.ru/" class="title">{{title}}</a></h1>

    <p>{{work_info}} <a href="http://hh.ru/">{{work_info_company}}</a>.</p>
    <p>{{location_info}}</p>

    <h2>{{contacts}}</h2>
    <p>
        {{email}}: <a class="email" href="mailto:splurov@gmail.com">splurov@gmail.com</a><br />
        {{skype}}: <a href="skype:Splurov?add" title="{{add_to_skype}}">Splurov</a><br />
    </p>

    <h2>{{resume}}</h2>
    <p>
        <a href="http://hh.ru/resume/8a501e32ff00d6db7b0039ed1f69566d394f6c">{{hh_link_title}}</a>,
        <!--<a href="https://splurov.moikrug.ru/">{{moikrug_link_title}}</a>,-->
        <a href="http://ru.linkedin.com/in/splurov">{{linkedin_link_title}}</a>
    </p>

    <h2>{{social_networks}}</h2>
    <p>
        <a href="https://twitter.com/Splurov">{{twitter}}</a>,
        <a href="http://instagram.com/splurov">{{instagram}}</a>,
        <a href="https://github.com/Splurov">{{github}}</a>,
        <a href="https://www.facebook.com/splurov">{{facebook}}</a>,
        <a href="https://vk.com/splurov">{{vk}}</a>,
        <a href="http://habrahabr.ru/users/splurov/">{{habr}}</a>,
        <a href="http://leprosorium.ru/users/Splurov">{{lepra}}</a>,
        <a href="https://plus.google.com/110489397186262146677?rel=author">{{google_plus}}</a>
    </p>

    <h2>{{firefox_addons}}</h2>
    <p>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/minimum-font-size-hotkey/">{{minimum_font_size_addon}}</a><br />
        <a href="https://addons.mozilla.org/en-US/firefox/addon/next-previous-image-hotkeys/">{{next_previous_image_addon}}</a><br />
    </p>

    <h2>{{firefox_userscripts}}</h2>
    <p>
        <a href="https://github.com/Splurov/user-scripts/blob/master/linkification.js">Linkification</a><br />
        <a href="https://github.com/Splurov/user-scripts/blob/master/ctrl-enter-submit-any-form.js">Ctrl+Enter Submit Any Form</a><br />
        <a href="https://github.com/Splurov/user-scripts/blob/master/target-killer.js">TargetKiller</a><br />
    </p>

    <h2>{{clash_of_clans}}</h2>
    <p>
        <a href="/clash-of-clans/">{{clash_calc_title}}</a><br />
    </p>

    <div class="footer">
        <p>&copy; 2014</p>
    </div>

    <div class="hidden">
        <span class="n">
            <span class="given-name">{{given_name}}</span>
            <span class="additional-name">{{additional_name}}</span>
            <span class="family-name">{{family_name}}</span>
        </span>
        <span class="nickname">Splurov</span>
        <span class="org vcard">
            <a href="http://hh.ru/" class="url fn org">HeadHunter</a>
        </span>
        <span class="adr">
            <span class="locality">{{locality}}</span>
            <span class="country-name">{{country_name}}</span>
        </span>
        <span class="bday">1986-07-31</span>
    </div>
</div>

<script src="js/ya-metrika.js"></script>
{{& ya_metrika_noscript}}

<script src="js/ga.js"></script>

</body>
</html>
